{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gallerieevents list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Imagename</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gallerieEvent in gallerieEvents %}
            <tr>
                <td><a href="{{ path('gallerieevent_show', { 'id': gallerieEvent.id }) }}">{{ gallerieEvent.id }}</a></td>
                <td>{{ gallerieEvent.imageName }}</td>
                <td>{% if gallerieEvent.updatedAt %}{{ gallerieEvent.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('gallerieevent_show', { 'id': gallerieEvent.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('gallerieevent_edit', { 'id': gallerieEvent.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('gallerieevent_new') }}">Create a new gallerieEvent</a>
        </li>
    </ul>
{% endblock %}
